<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" 
	id="WebApp_ID" version="2.5">
 <display-name>Home</display-name>
 <welcome-file-list>
 <welcome-file>IntroServlet</welcome-file>
 </welcome-file-list>
 <servlet>
 <description></description>
 <display-name>IntroServlet</display-name>
 <servlet-name>IntroServlet</servlet-name>
 <servlet-class>com.mvc.controller.IntroServlet</servlet-class>
 </servlet>
 <servlet-mapping>
 <servlet-name>IntroServlet</servlet-name>
 <url-pattern>/IntroServlet</url-pattern>
 </servlet-mapping>
 <servlet>
 <description></description>
 <display-name>LoginServlet</display-name>
 <servlet-name>LoginServlet</servlet-name>
 <servlet-class>com.mvc.controller.LoginServlet</servlet-class>
 </servlet>
 <servlet-mapping>
 <servlet-name>LoginServlet</servlet-name>
 <url-pattern>/LoginServlet</url-pattern>
 </servlet-mapping>
 <servlet>
 <description></description>
 <display-name>RegisterServlet</display-name>
 <servlet-name>RegisterServlet</servlet-name>
 <servlet-class>com.mvc.controller.RegisterServlet</servlet-class>
 </servlet>
 <servlet-mapping>
 <servlet-name>RegisterServlet</servlet-name>
 <url-pattern>/RegisterServlet</url-pattern>
 </servlet-mapping>
 <servlet>
 <description></description>
 <display-name>CLoginServlet</display-name>
 <servlet-name>CLoginServlet</servlet-name>
 <servlet-class>com.mvc.controller.CLoginServlet</servlet-class>
 </servlet>
 <servlet-mapping>
 <servlet-name>CLoginServlet</servlet-name>
 <url-pattern>/CLoginServlet</url-pattern>
 </servlet-mapping>
 <servlet>
 <description></description>
 <display-name>CRegisterServlet</display-name>
 <servlet-name>CRegisterServlet</servlet-name>
 <servlet-class>com.mvc.controller.CRegisterServlet</servlet-class>
 </servlet>
 <servlet-mapping>
 <servlet-name>CRegisterServlet</servlet-name>
 <url-pattern>/CRegisterServlet</url-pattern>
 </servlet-mapping>
 <servlet>
 <description></description>
 <display-name>LogoutServlet</display-name>
 <servlet-name>LogoutServlet</servlet-name>
 <servlet-class>com.mvc.controller.LogoutServlet</servlet-class>
 </servlet>
 <servlet-mapping>
 <servlet-name>LogoutServlet</servlet-name>
 <url-pattern>/LogoutServlet</url-pattern>
 </servlet-mapping>
 <servlet>
 <description></description>
 <display-name>CandidateServlet</display-name>
 <servlet-name>CandidateServlet</servlet-name>
 <servlet-class>com.mvc.controller.CandidateServlet</servlet-class>
 </servlet>
 <servlet-mapping>
 <servlet-name>CandidateServlet</servlet-name>
 <url-pattern>/CandidateServlet</url-pattern>
 </servlet-mapping>
 <servlet>
 <description></description>
 <display-name>CompanyServlet</display-name>
 <servlet-name>CompanyServlet</servlet-name>
 <servlet-class>com.mvc.controller.CompanyServlet</servlet-class>
 </servlet>
 <servlet-mapping>
 <servlet-name>CompanyServlet</servlet-name>
 <url-pattern>/CompanyServlet</url-pattern>
 </servlet-mapping>
 <servlet>
 <description></description>
 <display-name>HomeServlet</display-name>
 <servlet-name>HomeServlet</servlet-name>
 <servlet-class>com.mvc.controller.HomeServlet</servlet-class>
 </servlet>
 <servlet-mapping>
 <servlet-name>HomeServlet</servlet-name>
 <url-pattern>/HomeServlet</url-pattern>
 </servlet-mapping>
 <servlet>
 <description></description>
 <display-name>ViewProfileServlet</display-name>
 <servlet-name>ViewProfileServlet</servlet-name>
 <servlet-class>com.mvc.controller.ViewProfileServlet</servlet-class>
 </servlet>
 <servlet-mapping>
 <servlet-name>ViewProfileServlet</servlet-name>
 <url-pattern>/ViewProfileServlet</url-pattern>
 </servlet-mapping>
 <servlet>
 <description></description>
 <display-name>EditProfileServlet</display-name>
 <servlet-name>EditProfileServlet</servlet-name>
 <servlet-class>com.mvc.controller.EditProfileServlet</servlet-class>
 </servlet>
 <servlet-mapping>
 <servlet-name>EditProfileServlet</servlet-name>
 <url-pattern>/EditProfileServlet</url-pattern>
 </servlet-mapping>
 <servlet>
 <description></description>
 <display-name>ViewCprofileServlet</display-name>
 <servlet-name>ViewCprofileServlet</servlet-name>
 <servlet-class>com.mvc.controller.ViewCprofileServlet</servlet-class>
 </servlet>
 <servlet-mapping>
 <servlet-name>ViewCprofileServlet</servlet-name>
 <url-pattern>/ViewCprofileServlet</url-pattern>
 </servlet-mapping>
 <servlet>
 <description></description>
 <display-name>EditCProfileServlet</display-name>
 <servlet-name>EditCProfileServlet</servlet-name>
 <servlet-class>com.mvc.controller.EditCProfileServlet</servlet-class>
 </servlet>
 <servlet-mapping>
 <servlet-name>EditCProfileServlet</servlet-name>
 <url-pattern>/EditCProfileServlet</url-pattern>
 </servlet-mapping>
 <servlet>
 <description></description>
 <display-name>CreateResumeServlet</display-name>
 <servlet-name>CreateResumeServlet</servlet-name>
 <servlet-class>com.mvc.controller.CreateResumeServlet</servlet-class>
 </servlet>
 <servlet-mapping>
 <servlet-name>CreateResumeServlet</servlet-name>
 <url-pattern>/CreateResumeServlet</url-pattern>
 </servlet-mapping>
 <servlet>
 <description></description>
 <display-name>ViewResumeServlet</display-name>
 <servlet-name>ViewResumeServlet</servlet-name>
 <servlet-class>com.mvc.controller.ViewResumeServlet</servlet-class>
 </servlet>
 <servlet-mapping>
 <servlet-name>ViewResumeServlet</servlet-name>
 <url-pattern>/ViewResumeServlet</url-pattern>
 </servlet-mapping>
 <servlet>
 <description></description>
 <display-name>ViewResCompanyServlet</display-name>
 <servlet-name>ViewResCompanyServlet</servlet-name>
 <servlet-class>com.mvc.controller.ViewResCompanyServlet</servlet-class>
 </servlet>
 <servlet-mapping>
 <servlet-name>ViewResCompanyServlet</servlet-name>
 <url-pattern>/ViewResCompanyServlet</url-pattern>
 </servlet-mapping>
 <servlet>
 <description></description>
 <display-name>DeleteResumeServlet</display-name>
 <servlet-name>DeleteResumeServlet</servlet-name>
 <servlet-class>com.mvc.controller.DeleteResumeServlet</servlet-class>
 </servlet>
 <servlet-mapping>
 <servlet-name>DeleteResumeServlet</servlet-name>
 <url-pattern>/DeleteResumeServlet</url-pattern>
 </servlet-mapping>
 <servlet>
 <description></description>
 <display-name>CreateJobServlet</display-name>
 <servlet-name>CreateJobServlet</servlet-name>
 <servlet-class>com.mvc.controller.CreateJobServlet</servlet-class>
 </servlet>
 <servlet-mapping>
 <servlet-name>CreateJobServlet</servlet-name>
 <url-pattern>/CreateJobServlet</url-pattern>
 </servlet-mapping>
 <servlet>
 <description></description>
 <display-name>ViewJobServlet</display-name>
 <servlet-name>ViewJobServlet</servlet-name>
 <servlet-class>com.mvc.controller.ViewJobServlet</servlet-class>
 </servlet>
 <servlet-mapping>
 <servlet-name>ViewJobServlet</servlet-name>
 <url-pattern>/ViewJobServlet</url-pattern>
 </servlet-mapping>
 <servlet>
 <description></description>
 <display-name>EditJobServlet</display-name>
 <servlet-name>EditJobServlet</servlet-name>
 <servlet-class>com.mvc.controller.EditJobServlet</servlet-class>
 </servlet>
 <servlet-mapping>
 <servlet-name>EditJobServlet</servlet-name>
 <url-pattern>/EditJobServlet</url-pattern>
 </servlet-mapping>
 <servlet>
 <description></description>
 <display-name>DeleteJobServlet</display-name>
 <servlet-name>DeleteJobServlet</servlet-name>
 <servlet-class>com.mvc.controller.DeleteJobServlet</servlet-class>
 </servlet>
 <servlet-mapping>
 <servlet-name>DeleteJobServlet</servlet-name>
 <url-pattern>/DeleteJobServlet</url-pattern>
 </servlet-mapping>
 <servlet>
 <description></description>
 <display-name>EmployeeListServlet</display-name>
 <servlet-name>EmployeeListServlet</servlet-name>
 <servlet-class>com.mvc.controller.EmployeeListServlet</servlet-class>
 </servlet>
 <servlet-mapping>
 <servlet-name>EmployeeListServlet</servlet-name>
 <url-pattern>/EmployeeListServlet</url-pattern>
 </servlet-mapping>
</web-app>